Flask
flask-cors
Flask-WTF
fastapi
fastapi-csrf-protect
uvicorn
requests
openai
google-genai
python-dotenv
tiktoken
pandas
openpyxl
pytz
selenium
pytest
pytest-html
PyQt6
PyQt6-WebEngine
anthropic
jira
mcp>=1.9,<3
cryptography
